langchain
langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langsmith
fastapi
uvicorn
langserve
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
groq
langchain-groq
sentence_transformers
